*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  font-family: -apple-system,BlinkMacSystemFont,Roboto,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}


.navbar{
  padding:2% ;
  font-weight: bolder;
}
.navbar-brand{
  color:  #0492c2;
  opacity:0.8;
  font-size: 25px;
  font-weight: bolder;
}

.content{
  margin:0;
  text-align: justify;
  padding: 5% 8%;
  font-size:20px;
}

.cover{

  width: 1135px;
  height:500px;
  color:white;
  margin:0;
  padding:0;
  position:relative;
  margin-bottom:0%;
  border-radius:1%;

}
.cover h1{
  text-align: center;
  font-weight: 800;
  font-size: 70px;
  padding:2%;
}
/* chatbot*/
#box{
width: 400px;
height: auto;
box-shadow: 5px 5px 20px #000;
position: fixed;
top: 65%;
left: 75%;
transform: translate(-50%, -50%);
z-index: 3;
display: none;
}
.top{
width: 100%;
height: auto;
z-index: 3;
background: #2a2f32;
}
.top h1{
margin: 0;
font-size: 20px;
color: #fff;
padding-top: 10px;
text-align: center;
font-family: monospace;
}
.mid{
width: 100%;
height: auto;
background: white;
}
.mid .chat{
width: 100%;
background: white;
}
.mid .chat h2{
margin: 0;
font-size: 20px;
color: #000;
background: white;
padding: 30px 20px;

}
.mid .chat p{
margin: 0;
font-size: 20px;
background: white;
padding: 50px 20px;
color: black;
font-weight: 600;
letter-spacing: 0.04;
}
.input{
width: 100%;
height:auto;
overflow: hidden;
}
.input input{
width: 80%;
height: auto;
outline: none;
border: none;
padding-top: 0;
font-family: cursive;
color: black;
font-size: 20px;
background: white;
padding: 25px;
}
.button{
float: right;
width: 20%;
height: 79px;
background: white;
color: #2a2f32;
padding: 20px;
font-size: 15px;
cursor: pointer;
border: none;
outline: none;

}
.chat{
  float:right;
  margin-top:17px;
}
.button1{
height: auto;
float: right;
background: #2a2f32;
color: white;
}
