* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
}

.navbar {
    /* padding:2% ; */
    font-weight: bolder;
    font-size: 16px;
}

.navbar-brand {
    color: #0492c2;
    opacity: 0.8;
    font-size: 25px;
    font-weight: bolder;
}

img {
    width: 150px;
}

/* chatbot*/
#box {
    width: 400px;
    height: auto;
    box-shadow: 5px 5px 20px #000;
    position: fixed;
    top: 65%;
    left: 75%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: none;
}

.top {
    width: 100%;
    height: auto;
    z-index: 3;
    background: #2a2f32;
}

.top h1 {
    margin: 0;
    font-size: 20px;
    color: #fff;
    padding-top: 10px;
    text-align: center;
    font-family: monospace;
}

.mid {
    width: 100%;
    height: auto;
    background: white;
}

.mid .chat {
    width: 100%;
    background: white;
}

.mid .chat h2 {
    margin: 0;
    font-size: 20px;
    color: #000;
    background: white;
    padding: 30px 20px;

}

.mid .chat p {
    margin: 0;
    font-size: 20px;
    background: white;
    padding: 50px 20px;
    color: black;
    font-weight: 600;
    letter-spacing: 0.04;
}

.input {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.container {
    max-width: none;
}

.input input {
    width: 80%;
    height: auto;
    outline: none;
    border: none;
    padding-top: 0;
    font-family: cursive;
    color: black;
    font-size: 20px;
    background: white;
    padding: 25px;
}

.chat {
    float: right;
    margin-top: 17px;
}


/* mycode */

.signin {
    text-align: center;
    border-radius: 20px;
    background-color: #000000;
}


.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}

input {
    border-width: 1px;
    opacity: 0.7;
}

.input {
    background-color: #ffffff;
    border-radius: 12px;
    box-sizing: border-box;
    color: #000000;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 10px 15px;
    width: 100%;

}





.placeholder {
    color: #000000;
    background-color: white;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    opacity: 100%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}


.input:focus~.placeholder {
    color: #000000;
}

.pin {
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: inline-block;
    right: 20px;
    position: absolute;
    top: 15px;
}

.hidden {
    display: none;
}

.pin-icon {
    font-size: 20px;
    color: #0000007e;

}

.button-next-back {
    display: flex;
    justify-content: space-between;
    position: relative;
}

/* .btn:foczzzzzus {
.btn-lg {
    width: 120px;
    margin-left: 10px;
}

    outline: none;
    box-shadow: none;
} */

.m-3 {
    padding: 4px;
}


.table-responsive-xl {
    /* width: 1320px; */
    height: 400px;
    overflow-x: scroll;
    overflow-y: scroll;
    margin-top: -10px;
}

.nav_text {
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    padding-right: 430PX;
    color: white;

}

.sortby {
    padding-left: 30px;
    margin-top: 8px;
    color: #0492c2;
    font-weight: bold;

}

.top_nav {
    background-color: #fafbfd;
    width: 320px;
    height: 40px;
    margin-left: 15px;
    border-radius: 7px;
    display: flex;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 2px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
}

.navbtn {
    width: 70px;
    height: 30px;
    border: none;
    background-color: transparent;
    margin-left: 4px;
    
    

}

.fa-list-ul:visited{
    color: #ddd;
}
.navbtn:hover {
    font-weight: 500;
}

.navbtn.active {
    font-weight: 450;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    border-radius: 7px;
}

#v-pills-home-tab:visited{
    font-weight: 450;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    border-radius: 7px;  
}


#nav-tasklist:active {
    background-color: rgb(71, 174, 243);

}


.btn-light {
    margin-left: 10px;
    height: 35px;
    width: 50px;
    outline: none;
    margin-top: 5px;
}

#selectoption {
    display: flex;
    margin-left: 20px;
    height: fit-content;
    width: auto;
    margin-top: 5px;
}

.btn-outline-success {
    display: flex;
    margin-left: 20px;
    height: fit-content;
    /* margin-top: 15px; */
    width: auto;

}




/* //////table */

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;

}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .8em;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 650;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;

    }


    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }

}